<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/OOuPLab2/src/hr/fer/zemris/ooup/lab2/zad4/DistributionTester.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="hr.fer.zemris.ooup.lab2.zad4.DistributionTester"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="OOuPLab2"/>
</launchConfiguration>
